body
{
	margin: 0px;
	background-image: url(../images/bodybgimagerepeat.jpg);
	background-repeat: repeat-x;
}

.toprounded_image
{
	background-image: url(../images/loginimagetop.png);
	background-repeat: no-repeat;
	width: 392px;
	height: 14px;
	background-position: bottom;
}
.user_txt
{
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #8d8d8d;
}
.form_style
{
	background-color: #8d8d8d;
	border: none;
	width: 164px;
	height: 20px;
	font-family: Tahoma;
	font-size: 12px;
	color: #0b0b0b;
}
.Frogot_txt
{
	font-family: Tahoma;
	font-size: 12px;
	font-weight: normal;
	color: #8d8d8d;
	text-decoration: underline;
}
.sub_headderbutton
{
	background-image: url(../images/buttonnormalimage.jpg);
	background-repeat: repeat-x;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
	cursor: pointer;
	padding-left: 6px;
	padding-right: 6px;
	white-space: nowrap;
}
.sub_headderbutton:hover
{
	background-image: url(../images/buttonhoverimage.jpg);
	background-repeat: repeat-x;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
	cursor: pointer;
	padding-left: 6px;
	padding-right: 6px;
	white-space: nowrap;
}
.sub_headderbuttonactive
{
	background-image: url(../images/buttonhoverimage.jpg);
	background-repeat: repeat-x;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
	cursor: pointer;
	padding-left: 6px;
	padding-right: 6px;
	white-space: nowrap;
}
.buttonside
{
	background-image: url(../images/buttonside.jpg);
	background-repeat: no-repeat;
	width: 2px;
	height: 29px;
}
.buttonmenubg
{
	background-image: url(../images/menu_subrepeat.jpg);
	background-repeat: repeat-x;
}

.sub_headderbuttonactive2
{
	/*background-image:url(../images/buttonhoverimage.jpg);*/
	background-repeat: repeat-x;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
	cursor: pointer;
	padding-left: 6px;
	padding-right: 6px;
	white-space: nowrap;
}

/*test*/
.sub_headderbuttonactive1
{
	/*background-image: url(../images/buttonnormalimage.jpg);*/
	background-repeat: repeat-x;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
	cursor: pointer;
	padding-left: 6px;
	padding-right: 6px;
	white-space: nowrap; /* padding-top:5px; padding-bottom:20px; */
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
}

.sub_headderbuttonactive1:hover
{
	/*background-image: url(../images/buttonnormalimage.jpg);*/
	background-repeat: repeat-x;
	font-family: Tahoma;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
	color: #FFFFFF;
	cursor: pointer;
	padding-left: 6px;
	padding-right: 6px;
	white-space: nowrap; /* padding-top:5px; padding-bottom:20px; */
	padding-top: 0px;
	padding-bottom: 0px;
	vertical-align: middle;
}

.headerMenuText
{
	text-decoration: none;
	color: #FFFFFF;
}

.headerMenuText:hover
{
	text-decoration: underline;
	color: #FFFFFF;
}



/* Added by Rajendra*/
.menu_admin
{
	color: #000000;
	font-family: Verdana, Arialhaettenschweiler;
	font-size: 11px;
	/*text-decoration: underline;*/
}
.tableHeading
{
	color: black;
	background-color: #E4E4E4;
	font-weight: bold;
	font-size: 12px;
}
.blue
{
	font-family: Verdana;
	font-size: 8.5pt;
	color: #000000;
}
.formlabel
{
	font-family: Verdana, Arial, haettenschweiler;
	font-size: 8.5pt;
	color: #37414A;
	background-color: #E7E7EF;
}
.warnings
{
	font-family: Verdana, Arial, haettenschweiler;
	font-size: xx-small;
	color: Red;
}
.modalBackground
{
	background-color: #D6D6D6;
	filter: alpha(opacity=70);
	opacity: 0.7;
}
.label
{
	font-family: Verdana, Arial, haettenschweiler;
	font-size: 8.5pt;
	color: #37414A;
	
}
.spacer 
{ 
height:5px; 
}


