BODY, TD, DIV {
	FONT-FAMILY: 		Verdana, Sans-Serif; 
	FONT-SIZE:			9pt; 
	
	}
A {
	COLOR: 				#0066CC;
	TEXT-DECORATION: 	underline; }

A:hover {
	COLOR: 				#3399FF;
	TEXT-DECORATION: 	underline; }

A:active {
	COLOR: 				#0066CC;
	TEXT-DECORATION: 	underline; }
	

A.gray {
	COLOR: 				#999999;
	TEXT-DECORATION: 	underline; }

A.gray:hover {
	COLOR: 				#000000;
	TEXT-DECORATION: 	underline; }

A.gray:active {
	COLOR: 				#0066CC;
	TEXT-DECORATION: 	underline; }	
.windowtop
{
	background-image: url(http://localhost/nvpc/scripts/gallery/images/brTop1.jpg);
	background-repeat: repeat-x;
	height: 24;
	color:White;
	font-weight:bold;
}